.banner-title {
    color: #FFF;
    font-size: 100px;
    font-family: 'Gantari', sans-serif;
    font-style: italic;
    font-weight: 900;
    line-height: 85px; /* 85% */
}

.home-section {

}

.box-button {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 90px 20px 60px;
    position: relative;
}

.btn-arrow {
    height: 50px;
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    right: 5px;
    top: 5px;
}