.footer-icon {
  border-radius: 12px;
  border: 1px solid #494d69;
  padding: 12px 13px;
  height:50px;
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;

  path {
    fill: #979abe;
  }

  &:hover {
    background: linear-gradient(180deg, #eef3bf 0%, #e9f456 100%);

    path {
      fill: #332c4b;
    }
  }
}

